[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=XIX
GenericName=A QIX Remake
GenericName[tr]=Bir QIX Yenidenyapımı
Icon=xix
Exec=xix
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
