[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Schäuble-Pong
GenericName=Pong
GenericName[tr]=Pong
Comment=A SDL Pong game
Comment[tr]=Bir SDL Pong oyunu
Icon=schaeublepong
Exec=sdlpong --theme original
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
