[Desktop Entry]
Categories=Application;Game;LogicGame;
Comment[tr]=Somyeol2D için harita düzenleyici
Comment=Somyeol2D için harita düzenleyici
Comment[de]=Level Editor für Somyeol2D
Encoding=UTF-8
Exec=cd /usr/share/somyeol2d && python ./LevelEditor.py
GenericName[tr]=Harita Düzenleyici
GenericName=Harita Düzenleyici
Icon=somyeol2d-editor
MimeType=
Name[tr]=Somyeol2D Level Editor
Name=Somyeol2D Level Editor
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
