[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Xrick
GenericName=Rick Dangerous
GenericName[tr]=Rick Dangerous
Icon=xrick
Exec=xrick -fullscreen
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
