[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Xinvaders3D
GenericName=Space Invaders
GenericName[tr]=Uzaylı İstilacılar
Icon=xinvaders3d
Exec=xinv3d
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
