[Desktop Entry]
Type=Application
Version=1.0
Name=SecondLife
GenericName=Life Simulation Game
GenericName[tr]=Yaşam Simülasyon Oyunu
Comment=A 3d life simulation game
Comment[tr]=Üç boyutlu bir yaşam simülasyon oyunu
Icon=secondlife
Exec=secondlife
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
