[Desktop Entry]
Categories=Application;Game;LogicGame;
Comment[tr]=2B öylesine bir oyun
Comment=2B öylesine bir oyun
Comment[de]=Rette die Somyeols
Encoding=UTF-8
Exec=cd /usr/share/somyeol2d && python ./main.py
GenericName[tr]=Somyeol'leri Kurtarmak
GenericName=Somyeol'leri Kurtarmak
Icon=somyeol2d
MimeType=
Name[tr]=Somyeol2D
Name=Somyeol2D
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
