[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=QCheckers
GenericName=Checkers
GenericName[tr]=Dama
Comment=Qt checkers game
Comment[tr]=Qt dama oyunu
Icon=qcheckers
Exec=QCheckers
Terminal=false
StartupNotify=false
Categories=Application;Game;BoardGame;
