[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Gish
GenericName=Platform Game
GenericName[tr]=Platform Oyunu
Icon=gish
Exec=cd /opt/gish && ./gish
StartupNotify=true
Terminal=false
Categories=Application;Game;ActionGame;
