[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Classic Invaders
GenericName=Space Invaders
GenericName[tr]=Uzaylı İstilacılar
Icon=classic-invaders
Exec=classic_invaders
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
