[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tux Football
GenericName=Football
GenericName[tr]=Futbol
Comment=A 2D soccer game
Comment[tr]=2B futbol oyunu
Icon=tuxfootball
Exec=tuxfootball
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
