[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=BALLOONS
GenericName=Platform Puzzle Game
GenericName[tr]=Platfotm Bulmaca Oyunu
Comment=Tile based platform puzzle game
Comment[tr]=Platfotm bulmaca oyunu
Icon=balloons
Exec=balloons
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
